/z_Data-Sources/19-Aruba/runtime-files
/z_Data-Sources/19-Aruba/ecc
/z_Data-Sources/17-Aruba/runtime-files
/z_Data-Sources/17-Aruba/ecc
/venv
.idea
/e_Evaluation/Entropia/
/z_Data-Sources/5-Kyoto/final run/
